.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    width: auto;
    color: #ffffff;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 

.card-content {
    background-color: #068B88;
    width: auto;
    margin: auto;
    height: 100%;
}
.card-fullscreen h2 {
    margin-top: 20px;
}
.card-fullscreen p {
    padding-left: 20px;
}

.card {
    /* set the initial card size */
    width: 390px;
    height: 300px;
    /* add some styles for appearance */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-basis: calc(33.33% - 20px);
    background-color: #068B88;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 8px;
    color: #ffffff;
  }
  
  .card.fullscreen {
    text-align: left;
    padding-top: 90px;
    margin: auto;
    /* set the card to fill the entire viewport */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* add some styles for appearance */
    width: auto;
    height: 100%;
    background-color: #068B88;
    z-index: 1;
    overflow: auto;
    color: #ffffff;
  }

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.backbtn {
    background-color: #f44336;
    font-size: 12px;
    background-color: #000000;
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    width: auto;
    margin-top: 2%;
    margin-left: 2%;
  }

  .backbtn:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }


@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    .card {
        flex-basis: 100%;
    }
}